@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Figtree", sans-serif;
}

.alert {
  width: 300px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
}

#user-screen {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

#user-screen > hr {
  width: 2px;
  height: 60vh;
  background-color: #d4d4d4;
}

.login-or-signup-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 425px;
  margin-left: 50px;
}

.form-title {
  font-size: 48px;
  font-family: "Sacramento", serif;
  font-weight: 500;
  margin-bottom: 25px;
}

.form-footer {
  margin-top: 25px;
}

#splash {
  font-size: 140px;
  font-family: "Sacramento", serif;
  margin-right: 150px;
  text-shadow: 0 0 1px black;
}

.footer-link {
  cursor: pointer;
}

.ProseMirror {
  outline: none !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 85vh;
  border: 1px solid red;
  text-align: left;
}

.ProseMirror p {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid green;
  line-height: 1.5;
}

.editor-content {
  border: 1px solid;
  outline: none;
  width: 70vw;
}

@layer base {
  :root {
    --background: 216 69% 99%;
    --foreground: 216 3.5% 9.5%;
    --card: 216 34.5% 99%;
    --card-foreground: 216 3.5% 14.5%;
    --popover: 216 69% 99.5%;
    --popover-foreground: 216 98.5% 9%;
    --primary: 216 100% 32.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 23.8% 88%;
    --secondary-foreground: 0 0% 0%;
    --muted: 254 23.8% 94%;
    --muted-foreground: 216 3.5% 39.5%;
    --accent: 254 23.8% 89%;
    --accent-foreground: 216 3.5% 14.5%;
    --destructive: 0 84.5% 48%;
    --destructive-foreground: 216 3.5% 99%;
    --border: 216 26.9% 78.8%;
    --input: 216 26.9% 46.8%;
    --ring: 216 88.7% 45.3%;
    --radius: 0.4rem;
    --sidebar-background: 216, 69%, 94%;
    --sidebar-foreground: 216, 4%, 9%;
    --sidebar-primary: 216, 100%, 29%;
    --sidebar-primary-foreground: 0, 0%, 100%;
    --sidebar-accent: 254, 24%, 85%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 216, 27%, 75%;
    --sidebar-ring: 206, 98%, 45%;
  }

  .dark {
    --background: 216 37.6% 9.5%;
    --foreground: 216 3.5% 99%;
    --card: 216 34.5% 9%;
    --card-foreground: 216 3.5% 99%;
    --popover: 216 37.6% 5%;
    --popover-foreground: 216 3.5% 99%;
    --primary: 216 100% 32.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 23.8% 19%;
    --secondary-foreground: 0 0% 100%;
    --muted: 254 23.8% 24%;
    --muted-foreground: 216 3.5% 64.5%;
    --accent: 254 23.8% 24%;
    --accent-foreground: 216 3.5% 94.5%;
    --destructive: 0 84.5% 48%;
    --destructive-foreground: 216 3.5% 99%;
    --border: 216 26.9% 46.8%;
    --input: 216 26.9% 46.8%;
    --ring: 216 88.7% 45.3%;
    --radius: 0.4rem;
    --sidebar-background: 216, 38%, 12%;
    --sidebar-foreground: 216, 4%, 100%;
    --sidebar-primary: 216, 100%, 26%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 254, 24%, 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 216, 27%, 44%;
    --sidebar-ring: 206, 98%, 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Sacramento";
  src: url(/src/assets/fonts/Sacramento-Regular.ttf);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
